* {
  text-align: center;
  color: #E9E9E9;
  line-height: 1.2;
}

body {
  background-color: #000000;
}

h1 {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 96px;
}

main {
  color: #F5F5F5;
  margin-left: auto;
  margin-right: auto;
  width: 19em;
  font-family: 'Ubuntu Mono';
  font-size: 64px;
  text-align: left;
}

div {
  display: inline;
}

img {
  opacity: 0;
  display: block;
  margin: auto;
  width: 100%;
}

main:hover > img {
  opacity: 0.8;
}

.shebang {
  color: #777777;
}

.operator {
  color: #747E9E;
}

.number {
  color: #FF8000;
}

.syntax {
  color: #E12D66;
  font-weight: bold;
}

.string {
  color: #65FF00;
}

@media (max-width: 1920px) {

  h1 {
    font-size: 48px;
  }

  main {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {

  h1 {
    font-size: 32px;
  }

  main {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {

  h1 {
    font-size: 23px;
  }

  main {
    font-size: 18px;
  }
}
