* {
  font-family: 'monospace';
  text-align: center;
  color: #E9E9E9;
  /*font-size: 32px; /* For 4K */
  line-height: 1.2;
}

body {
  background-color: #000000;
}

h1 {
  font-weight: bold;
}

main {
  color: #F5F5F5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
  width: 35%;
  padding: 15px;
  text-align: left;
  /*font-size: 30px; /* For 4K */
}

div {
  display: inline;
  /*display: inline-block; */
}

.shebang {
  color: #777777;
}

.operator {
  color: #747E9E;
}

.number {
  color: #FF8000;
}

.syntax {
  color: #E12D66;
}

.string {
  color: #65FF00;
}
