/* 
  MIXIN(S)
  =================
 /chriscoyier/pen/FwJux


  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/

body {
  background-color: #000000
}

a {
  color: #C2C2C2;
  text-decoration: none;
}

a:hover {
  color: #7DFF7D;
}

#console {
  font-family: courier, monospace;
  color: #C2C2C2;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 14px;
}

#username {
  color: #FF4B14;
}

#directory {
  color: #FF55B9;
}

#dirLink:hover {
  color: #32FFFF;
}

#shell {
  color: #64FF96;
  font-weight: bold;
}

#dirLink {
  color: #0F7DC8;
}

#strongWhite {
  color: #FFFFFF;
  font-weight: bolder;
}

.example-one {
  font-size: 100px;
  color: white;
  position: relative;
}
@keyframes example-one-anim-1 {
  0% {
    clip: rect(94px, 450px, 68px, 0);
  }
  5.88235% {
    clip: rect(6px, 450px, 95px, 0);
  }
  11.76471% {
    clip: rect(72px, 450px, 89px, 0);
  }
  17.64706% {
    clip: rect(70px, 450px, 8px, 0);
  }
  23.52941% {
    clip: rect(79px, 450px, 10px, 0);
  }
  29.41176% {
    clip: rect(45px, 450px, 63px, 0);
  }
  35.29412% {
    clip: rect(52px, 450px, 40px, 0);
  }
  41.17647% {
    clip: rect(17px, 450px, 114px, 0);
  }
  47.05882% {
    clip: rect(14px, 450px, 87px, 0);
  }
  52.94118% {
    clip: rect(41px, 450px, 57px, 0);
  }
  58.82353% {
    clip: rect(60px, 450px, 21px, 0);
  }
  64.70588% {
    clip: rect(22px, 450px, 104px, 0);
  }
  70.58824% {
    clip: rect(92px, 450px, 15px, 0);
  }
  76.47059% {
    clip: rect(21px, 450px, 50px, 0);
  }
  82.35294% {
    clip: rect(10px, 450px, 50px, 0);
  }
  88.23529% {
    clip: rect(82px, 450px, 87px, 0);
  }
  94.11765% {
    clip: rect(44px, 450px, 69px, 0);
  }
  100% {
    clip: rect(15px, 450px, 109px, 0);
  }
}
@keyframes example-one-anim-2 {
  0% {
    clip: rect(103px, 450px, 58px, 0);
  }
  5.88235% {
    clip: rect(107px, 450px, 32px, 0);
  }
  11.76471% {
    clip: rect(88px, 450px, 65px, 0);
  }
  17.64706% {
    clip: rect(66px, 450px, 81px, 0);
  }
  23.52941% {
    clip: rect(35px, 450px, 73px, 0);
  }
  29.41176% {
    clip: rect(79px, 450px, 55px, 0);
  }
  35.29412% {
    clip: rect(9px, 450px, 12px, 0);
  }
  41.17647% {
    clip: rect(9px, 450px, 7px, 0);
  }
  47.05882% {
    clip: rect(63px, 450px, 20px, 0);
  }
  52.94118% {
    clip: rect(93px, 450px, 19px, 0);
  }
  58.82353% {
    clip: rect(74px, 450px, 90px, 0);
  }
  64.70588% {
    clip: rect(39px, 450px, 37px, 0);
  }
  70.58824% {
    clip: rect(26px, 450px, 69px, 0);
  }
  76.47059% {
    clip: rect(28px, 450px, 19px, 0);
  }
  82.35294% {
    clip: rect(86px, 450px, 87px, 0);
  }
  88.23529% {
    clip: rect(19px, 450px, 8px, 0);
  }
  94.11765% {
    clip: rect(105px, 450px, 10px, 0);
  }
  100% {
    clip: rect(113px, 450px, 79px, 0);
  }
}
.example-one:before, .example-one:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}
.example-one:after {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: example-one-anim-1 2s infinite linear alternate-reverse;
}
.example-one:before {
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: example-one-anim-2 3s infinite linear alternate-reverse;
}

.example-two {
  font-size: 52px;
  color: red;
  position: relative;
}
@keyframes example-two-anim-1 {
  0% {
    clip: rect(30px, 714px, 46px, 0);
  }
  10% {
    clip: rect(42px, 714px, 20px, 0);
  }
  20% {
    clip: rect(25px, 714px, 12px, 0);
  }
  30% {
    clip: rect(26px, 714px, 11px, 0);
  }
  40% {
    clip: rect(21px, 714px, 47px, 0);
  }
  50% {
    clip: rect(28px, 714px, 47px, 0);
  }
  60% {
    clip: rect(9px, 714px, 11px, 0);
  }
  70% {
    clip: rect(21px, 714px, 30px, 0);
  }
  80% {
    clip: rect(2px, 714px, 21px, 0);
  }
  90% {
    clip: rect(9px, 714px, 23px, 0);
  }
  100% {
    clip: rect(46px, 714px, 39px, 0);
  }
}
@keyframes example-two-anim-2 {
  0% {
    clip: rect(28px, 714px, 16px, 0);
  }
  10% {
    clip: rect(24px, 714px, 45px, 0);
  }
  20% {
    clip: rect(10px, 714px, 44px, 0);
  }
  30% {
    clip: rect(48px, 714px, 10px, 0);
  }
  40% {
    clip: rect(18px, 714px, 15px, 0);
  }
  50% {
    clip: rect(47px, 714px, 46px, 0);
  }
  60% {
    clip: rect(24px, 714px, 17px, 0);
  }
  70% {
    clip: rect(37px, 714px, 15px, 0);
  }
  80% {
    clip: rect(31px, 714px, 16px, 0);
  }
  90% {
    clip: rect(25px, 714px, 5px, 0);
  }
  100% {
    clip: rect(13px, 714px, 1px, 0);
  }
}
.example-two:before, .example-two:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}
.example-two:after {
  left: 2px;
  text-shadow: -1px 0 white;
  animation: example-two-anim-1 2s infinite linear alternate-reverse;
}
.example-two:before {
  left: -2px;
  text-shadow: 2px 0 green;
  animation: example-two-anim-2 3s infinite linear alternate-reverse;
}

/* 
  (IMAGE) PARAMS
  =================
  @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Width (px)
  4. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
@keyframes example-three-anim-1 {
  0% {
    clip: rect(73px, 100px, 97px, 0);
  }
  6.66667% {
    clip: rect(65px, 100px, 20px, 0);
  }
  13.33333% {
    clip: rect(28px, 100px, 52px, 0);
  }
  20% {
    clip: rect(69px, 100px, 68px, 0);
  }
  26.66667% {
    clip: rect(66px, 100px, 12px, 0);
  }
  33.33333% {
    clip: rect(8px, 100px, 36px, 0);
  }
  40% {
    clip: rect(71px, 100px, 27px, 0);
  }
  46.66667% {
    clip: rect(44px, 100px, 39px, 0);
  }
  53.33333% {
    clip: rect(41px, 100px, 82px, 0);
  }
  60% {
    clip: rect(27px, 100px, 29px, 0);
  }
  66.66667% {
    clip: rect(38px, 100px, 26px, 0);
  }
  73.33333% {
    clip: rect(59px, 100px, 31px, 0);
  }
  80% {
    clip: rect(14px, 100px, 29px, 0);
  }
  86.66667% {
    clip: rect(66px, 100px, 36px, 0);
  }
  93.33333% {
    clip: rect(98px, 100px, 64px, 0);
  }
  100% {
    clip: rect(69px, 100px, 65px, 0);
  }
}
@keyframes example-three-anim-2 {
  0% {
    clip: rect(94px, 100px, 20px, 0);
  }
  6.66667% {
    clip: rect(91px, 100px, 73px, 0);
  }
  13.33333% {
    clip: rect(100px, 100px, 71px, 0);
  }
  20% {
    clip: rect(53px, 100px, 39px, 0);
  }
  26.66667% {
    clip: rect(39px, 100px, 54px, 0);
  }
  33.33333% {
    clip: rect(4px, 100px, 25px, 0);
  }
  40% {
    clip: rect(1px, 100px, 64px, 0);
  }
  46.66667% {
    clip: rect(77px, 100px, 84px, 0);
  }
  53.33333% {
    clip: rect(82px, 100px, 89px, 0);
  }
  60% {
    clip: rect(98px, 100px, 46px, 0);
  }
  66.66667% {
    clip: rect(86px, 100px, 32px, 0);
  }
  73.33333% {
    clip: rect(2px, 100px, 94px, 0);
  }
  80% {
    clip: rect(99px, 100px, 97px, 0);
  }
  86.66667% {
    clip: rect(51px, 100px, 74px, 0);
  }
  93.33333% {
    clip: rect(67px, 100px, 18px, 0);
  }
  100% {
    clip: rect(28px, 100px, 4px, 0);
  }
}
.example-three > img {
  position: absolute;
  top: 200px;
  left: 75px;
}
.example-three > img:nth-child(2),
.example-three > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.example-three > img:nth-child(2) {
  left: 77px;
  animation: example-three-anim-1 2s infinite linear alternate-reverse;
}
.example-three > img:nth-child(3) {
  left: 73px;
  animation: example-three-anim-2 3s infinite linear alternate-reverse;
}

/* 
  (SVG) PARAMS
  =================
  @mixin svgGlitch($name, $intensity, $fillColor, $background, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Fill Color
  4. Background
  5. Width (px)
  6. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
@keyframes example-four-anim-1 {
  0% {
    clip: rect(67px, 100px, 71px, 0);
  }
  3.33333% {
    clip: rect(70px, 100px, 36px, 0);
  }
  6.66667% {
    clip: rect(-4px, 100px, 56px, 0);
  }
  10% {
    clip: rect(43px, 100px, 59px, 0);
  }
  13.33333% {
    clip: rect(-15px, 100px, 41px, 0);
  }
  16.66667% {
    clip: rect(-15px, 100px, 42px, 0);
  }
  20% {
    clip: rect(19px, 100px, 44px, 0);
  }
  23.33333% {
    clip: rect(33px, 100px, 53px, 0);
  }
  26.66667% {
    clip: rect(-9px, 100px, 63px, 0);
  }
  30% {
    clip: rect(55px, 100px, 109px, 0);
  }
  33.33333% {
    clip: rect(56px, 100px, 82px, 0);
  }
  36.66667% {
    clip: rect(-13px, 100px, 33px, 0);
  }
  40% {
    clip: rect(-10px, 100px, 87px, 0);
  }
  43.33333% {
    clip: rect(22px, 100px, 47px, 0);
  }
  46.66667% {
    clip: rect(77px, 100px, 71px, 0);
  }
  50% {
    clip: rect(22px, 100px, 40px, 0);
  }
  53.33333% {
    clip: rect(-3px, 100px, 118px, 0);
  }
  56.66667% {
    clip: rect(1px, 100px, 24px, 0);
  }
  60% {
    clip: rect(-15px, 100px, 113px, 0);
  }
  63.33333% {
    clip: rect(67px, 100px, 26px, 0);
  }
  66.66667% {
    clip: rect(35px, 100px, 63px, 0);
  }
  70% {
    clip: rect(57px, 100px, 61px, 0);
  }
  73.33333% {
    clip: rect(23px, 100px, 74px, 0);
  }
  76.66667% {
    clip: rect(67px, 100px, 84px, 0);
  }
  80% {
    clip: rect(37px, 100px, 42px, 0);
  }
  83.33333% {
    clip: rect(31px, 100px, 54px, 0);
  }
  86.66667% {
    clip: rect(72px, 100px, 22px, 0);
  }
  90% {
    clip: rect(38px, 100px, 32px, 0);
  }
  93.33333% {
    clip: rect(61px, 100px, 117px, 0);
  }
  96.66667% {
    clip: rect(-15px, 100px, 89px, 0);
  }
  100% {
    clip: rect(39px, 100px, 58px, 0);
  }
}
@keyframes example-four-anim-2 {
  0% {
    clip: rect(70px, 100px, 120px, 0);
  }
  3.33333% {
    clip: rect(-17px, 100px, 89px, 0);
  }
  6.66667% {
    clip: rect(31px, 100px, 75px, 0);
  }
  10% {
    clip: rect(-4px, 100px, 90px, 0);
  }
  13.33333% {
    clip: rect(52px, 100px, 91px, 0);
  }
  16.66667% {
    clip: rect(25px, 100px, 26px, 0);
  }
  20% {
    clip: rect(-6px, 100px, 99px, 0);
  }
  23.33333% {
    clip: rect(48px, 100px, 46px, 0);
  }
  26.66667% {
    clip: rect(0px, 100px, 117px, 0);
  }
  30% {
    clip: rect(27px, 100px, 120px, 0);
  }
  33.33333% {
    clip: rect(12px, 100px, 112px, 0);
  }
  36.66667% {
    clip: rect(79px, 100px, 117px, 0);
  }
  40% {
    clip: rect(46px, 100px, 86px, 0);
  }
  43.33333% {
    clip: rect(27px, 100px, 42px, 0);
  }
  46.66667% {
    clip: rect(7px, 100px, 87px, 0);
  }
  50% {
    clip: rect(21px, 100px, 52px, 0);
  }
  53.33333% {
    clip: rect(27px, 100px, 24px, 0);
  }
  56.66667% {
    clip: rect(62px, 100px, 85px, 0);
  }
  60% {
    clip: rect(65px, 100px, 49px, 0);
  }
  63.33333% {
    clip: rect(56px, 100px, 21px, 0);
  }
  66.66667% {
    clip: rect(18px, 100px, 92px, 0);
  }
  70% {
    clip: rect(70px, 100px, 113px, 0);
  }
  73.33333% {
    clip: rect(30px, 100px, 105px, 0);
  }
  76.66667% {
    clip: rect(62px, 100px, 71px, 0);
  }
  80% {
    clip: rect(0px, 100px, 28px, 0);
  }
  83.33333% {
    clip: rect(44px, 100px, 41px, 0);
  }
  86.66667% {
    clip: rect(80px, 100px, 49px, 0);
  }
  90% {
    clip: rect(76px, 100px, 49px, 0);
  }
  93.33333% {
    clip: rect(31px, 100px, 54px, 0);
  }
  96.66667% {
    clip: rect(32px, 100px, 78px, 0);
  }
  100% {
    clip: rect(-19px, 100px, 34px, 0);
  }
}
.example-four svg {
  position: absolute;
  top: 200px;
  left: 175px;
  fill: white;
  background: black;
  width: 100px;
  height: 100px;
}
.example-four svg:nth-child(2),
.example-four svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.example-four svg:nth-child(2) {
  fill: red;
  left: 173px;
  animation: example-four-anim-1 2s infinite linear alternate-reverse;
}
.example-four svg:nth-child(3) {
  fill: red;
  left: 177px;
  animation: example-four-anim-2 3s infinite linear alternate-reverse;
}

body {
  background: black;
  font-family: Sans-serif;
  padding: 20px;
}

.wrap {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
