* {
  text-align: center;
  color: #F54083;
  line-height: 1.2;
}

body {
  background-color: #262129;
}

h1 {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 96px;
}

main {
  color: #F6519A;
  margin-left: auto;
  margin-right: auto;
  width: 19em;
  font-family: 'Ubuntu Mono';
  font-size: 64px;
  text-align: left;
}

img {
  opacity: 0;
  display: block;
  margin: auto;
  width: 100%;
}
 
main:hover > img {
  opacity: 0.8;
}

 background: linear-gradient(270deg, #f75fa7, #f6519a, #5c2d3e);
background-size: 600% 600%;

-webkit-animation: AnimationName 0s ease infinite;
-moz-animation: AnimationName 0s ease infinite;
-o-animation: AnimationName 0s ease infinite;
animation: AnimationName 0s ease infinite;

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@media (max-width: 1920px) {

  h1 {
    font-size: 48px;
  }

  main {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {

  h1 {
    font-size: 32px;
  }

  main {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {

  h1 {
    font-size: 23px;
  }

  main {
    font-size: 18px;
  }
}
