body {
  background-color: #000000
}

a {
  color: #C2C2C2;
  text-decoration: none;
}

a:hover {
  color: #7DFF7D;
}

#c {
  font-family: courier, monospace;
  color: #C2C2C2;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 14px;
}

#u {
  color: #FF4B14;
}

#d {
  color: #FF55B9;
}

#s {
  color: #64FF96;
  font-weight: bold;
}

#cd, #cdh1, #cdh2, #cdh3 {
  color: #0F7DC8;
}

#cd, #cdh1, #cdh2, #cdh3:hover {
  color: #32FFFF;
}

#w {
  color: #FFFFFF;
  font-weight: bolder;
}
