body {
  background: #FFFFFF; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

a {
  color: #C2C2C2;
  text-decoration: none;
}

a:hover {
  color: #12B412;
  text-decoration: underline;
}

b {
  color: #FFFFFF;
  font-weight: bolder;
}

#u {
  color: #FF4B14;
  font-weight: bolder;
  text-decoration: none;
}

#d {
  color: #FF5CBC;
  font-weight: bold;
  text-decoration: none;
}

#s {
  color: #50E27E;
  font-weight: bold;
  text-decoration: none;
}

/* Color for directories and pseudo-directories */
#cdh1, #cdh2, #cdh3,
#cdb1, #cdb2,
#cdc1, #cdc2,
#cdp1, #cdp2, #pa, #pm, #ps, #psh, #pxs {
  color: #0F74B8;
  font-weight: bold;
  text-decoration: none;
}

/* Hover color for directories and pseudo-directories */
#cdh1:hover, #cdh2:hover, #cdh3:hover,
#cdb1:hover, #cdb2:hover,
#cdc1:hover, #cdc2:hover,
#cdp1:hover, #cdp2:hover, #pa:hover, #pm:hover, #ps:hover, #psh:hover, #pxs:hover {
  color: #32FFFF;
  text-decoration: underline;
}
